@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/*munu*/

.container{
    max-width: 1280px;
    margin: auto;
    
}
#header{
    background: linear-gradient(135deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 4%;
}

.logo img{
    width: 10rem;
    height: 3.5rem;
    object-fit: cover;
    
    
}

.flex{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    
}

header{
    width: 100%;
    padding: 30px 2%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1000 
    
}

header.rolagem{
    background: linear-gradient(135deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 4%;
}

header.rolagem a, header.rolagem i,header.rolagem .logo {
    color:#2C895F;
    
}

header i{
    font-size: 30px;
    color:#2C895F;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
    position: relative;
}

header ul li a{
    color: #2C895F;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    position: relative;
    
}

.btn-contato button {
    padding: 10px;
    background-color: #1a772a;
    display: inline-block;          
    border-radius: 50%;  
    border: none; 
}

  

.btn-contato button:hover {
    background-color: #145a1f;
}


.menu-hamburguer {
    display: none;
    position: absolute;
    top: 60px; 
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-hamburguer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-hamburguer ul li {
    padding: 10px;
}

.menu-hamburguer ul li a {
 
    color: #45a049;
    font-size: 16px;
}

.menu-hamburguer ul li:hover {
    background-color: #f0f0f0;
}


.menu-hamburguer.active {
    display: block;
}

header ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #2C895F;
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: width 0.4s ease; 
}

header ul li a:hover::after {
    width: 100%; 
}

.img-btn-contato img{
    width: 30px;
}